root = true

[*]
charset = utf-8
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
end_of_line = lf
insert_final_newline = true

[*.{kt,kts}]
# Kotlin code style settings
ktlint_code_style = ktlint_official
max_line_length = 140
