<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soybean.uaa.repository.AreaMapper">
    <select id="listArea" resultType="com.soybean.uaa.domain.entity.common.AreaEntity">
        SELECT t1.* FROM common_area t1
        where t1.parent_id = #{parentId} order by `sequence`
    </select>
</mapper>
