<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soybean.uaa.repository.RoleMapper">
    <select id="findRoleByUserId" resultType="com.soybean.uaa.domain.entity.baseinfo.Role">
        select * from sys_role t1 INNER JOIN sys_user_role t2 on t1.id = t2.role_id
        where t1.locked = false and t2.user_id = #{userId, jdbcType=BIGINT}
    </select>
    <select id="list" resultType="com.soybean.uaa.domain.entity.baseinfo.Role">
        select *
        from sys_role
    </select>
</mapper>
