<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soybean.uaa.repository.RoleResMapper">
    <select id="selectRoleResByRoleId" resultType="com.soybean.uaa.domain.vo.RoleResMenuMapperResp">
        SELECT t1.id,t2.role_id,t1.type
        FROM
        sys_resource t1
        JOIN sys_role_res t2 ON t1.id = t2.res_id
        JOIN sys_role t3 ON t2.role_id = t3.id
        where t3.id = #{roleId}
    </select>
</mapper>
