<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soybean.uaa.repository.TenantConfigMapper">
    <select id="selectTenantDynamicDatasource" resultType="com.soybean.uaa.domain.vo.TenantDynamicDatasourceVO">
        SELECT
        t2.tenant_id,t1.`code`,t1.`name`,t3.pool_name,t3.username,t3.`password`,t3.db_type,t3.driver_class_name,t3.`database`,t3.connection_type,t3.`host`,t3.`port`
        FROM t_tenant t1
        JOIN t_tenant_config t2 ON t1.id = t2.tenant_id
        JOIN t_dynamic_datasource t3 ON t2.dynamic_datasource_id = t3.id
        WHERE t1.locked = 0
        <if test="datasourceId != null">
            and t3.id = #{datasourceId}
        </if>
    </select>

    <select id="getTenantDynamicDatasourceByTenantId"
            resultType="com.soybean.uaa.domain.vo.TenantDynamicDatasourceVO">
        SELECT
        t2.tenant_id,t1.`code`,t1.`name`,t3.pool_name,t3.username,t3.`password`,t3.db_type,t3.driver_class_name,t3.`database`,t3.connection_type,t3.`host`,t3.`port`
        FROM t_tenant t1 JOIN t_tenant_config t2 ON t1.id = t2.tenant_id
        JOIN t_dynamic_datasource t3 ON t2.dynamic_datasource_id = t3.id
        WHERE t1.locked = 0 and t1.id = #{tenantId}
    </select>
</mapper>
